USE [Solodov_NailNail]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[MasterID] [int] NOT NULL,
	[ServiceTypeID] [int] NOT NULL,
	[AppointmentDateTime] [datetime] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[IsCompleted] [bit] NOT NULL,
	[IsCancelled] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterServices]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterServices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MasterID] [int] NOT NULL,
	[ServiceTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtOrder] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDateTime] [datetime] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[IsIssued] [bit] NOT NULL,
	[Comment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[ReviewText] [nvarchar](1000) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[ManufacturerID] [int] NOT NULL,
	[ProductTypeID] [int] NOT NULL,
	[Rating] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[DurationMinutes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09.04.2026 11:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([ID], [ClientID], [MasterID], [ServiceTypeID], [AppointmentDateTime], [TotalPrice], [PaymentMethod], [Comment], [IsCompleted], [IsCancelled], [CreatedAt]) VALUES (3, 16, 19, 1, CAST(N'2026-04-10T10:00:00.000' AS DateTime), CAST(2500.00 AS Decimal(10, 2)), N'Card', N'Нужен дизайн с собачкой', 0, 0, CAST(N'2026-04-09T11:37:00.290' AS DateTime))
INSERT [dbo].[Appointments] ([ID], [ClientID], [MasterID], [ServiceTypeID], [AppointmentDateTime], [TotalPrice], [PaymentMethod], [Comment], [IsCompleted], [IsCancelled], [CreatedAt]) VALUES (4, 16, 19, 3, CAST(N'2026-04-12T14:30:00.000' AS DateTime), CAST(2000.00 AS Decimal(10, 2)), N'Cash', N'Покороче по бокам', 0, 0, CAST(N'2026-04-09T11:37:00.290' AS DateTime))
INSERT [dbo].[Appointments] ([ID], [ClientID], [MasterID], [ServiceTypeID], [AppointmentDateTime], [TotalPrice], [PaymentMethod], [Comment], [IsCompleted], [IsCancelled], [CreatedAt]) VALUES (5, 16, 19, 4, CAST(N'2026-04-15T12:00:00.000' AS DateTime), CAST(5500.00 AS Decimal(10, 2)), N'Online', N'В ярко-рыжий', 0, 0, CAST(N'2026-04-09T11:37:00.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([ID], [UserID], [ProductID], [Quantity], [AddedAt]) VALUES (1, 16, 1, 2, CAST(N'2026-04-09T11:37:33.020' AS DateTime))
INSERT [dbo].[Carts] ([ID], [UserID], [ProductID], [Quantity], [AddedAt]) VALUES (2, 16, 2, 1, CAST(N'2026-04-09T11:37:33.020' AS DateTime))
INSERT [dbo].[Carts] ([ID], [UserID], [ProductID], [Quantity], [AddedAt]) VALUES (3, 16, 3, 1, CAST(N'2026-04-09T11:37:33.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([ID], [ManufacturerName]) VALUES (5, N'Beiersdorf')
INSERT [dbo].[Manufacturers] ([ID], [ManufacturerName]) VALUES (4, N'Coty')
INSERT [dbo].[Manufacturers] ([ID], [ManufacturerName]) VALUES (2, N'Estée Lauder')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterServices] ON 

INSERT [dbo].[MasterServices] ([ID], [MasterID], [ServiceTypeID]) VALUES (6, 19, 1)
INSERT [dbo].[MasterServices] ([ID], [MasterID], [ServiceTypeID]) VALUES (7, 19, 2)
INSERT [dbo].[MasterServices] ([ID], [MasterID], [ServiceTypeID]) VALUES (8, 19, 3)
SET IDENTITY_INSERT [dbo].[MasterServices] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([ID], [OrderID], [ProductID], [Quantity], [PriceAtOrder]) VALUES (1, 1, 1, 1, CAST(427.50 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([ID], [OrderID], [ProductID], [Quantity], [PriceAtOrder]) VALUES (2, 1, 3, 1, CAST(3200.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([ID], [OrderID], [ProductID], [Quantity], [PriceAtOrder]) VALUES (3, 2, 6, 3, CAST(1674.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [UserID], [OrderDateTime], [DeliveryDate], [PaymentMethod], [TotalPrice], [IsIssued], [Comment]) VALUES (1, 16, CAST(N'2026-04-08T10:00:00.000' AS DateTime), CAST(N'2026-04-12' AS Date), N'Card', CAST(5400.00 AS Decimal(10, 2)), 1, N'Заказ выдан вовремя')
INSERT [dbo].[Orders] ([ID], [UserID], [OrderDateTime], [DeliveryDate], [PaymentMethod], [TotalPrice], [IsIssued], [Comment]) VALUES (2, 16, CAST(N'2026-04-09T15:30:00.000' AS DateTime), CAST(N'2026-04-15' AS Date), N'Online', CAST(3200.00 AS Decimal(10, 2)), 0, N'Оставил у консьержа')
INSERT [dbo].[Orders] ([ID], [UserID], [OrderDateTime], [DeliveryDate], [PaymentMethod], [TotalPrice], [IsIssued], [Comment]) VALUES (3, 19, CAST(N'2026-04-07T12:00:00.000' AS DateTime), CAST(N'2026-04-10' AS Date), N'Cash', CAST(1500.00 AS Decimal(10, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductReviews] ON 

INSERT [dbo].[ProductReviews] ([ID], [ProductID], [UserID], [Rating], [ReviewText], [CreatedAt]) VALUES (1, 1, 16, 5, N'Отличный шампунь L Oréal, волосы стали намного крепче. Рекомендую!', CAST(N'2026-04-09T11:39:19.080' AS DateTime))
INSERT [dbo].[ProductReviews] ([ID], [ProductID], [UserID], [Rating], [ReviewText], [CreatedAt]) VALUES (2, 3, 16, 4, N'Маска Shiseido хорошая, но цена кусается. Эффект заметен после первого раза.', CAST(N'2026-04-09T11:39:19.080' AS DateTime))
INSERT [dbo].[ProductReviews] ([ID], [ProductID], [UserID], [Rating], [ReviewText], [CreatedAt]) VALUES (3, 12, 19, 5, N'Shiseido Shampoo — это мощь! Для бороды тоже отлично подошел.', CAST(N'2026-04-09T11:39:19.080' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [ProductName], [Price], [Description], [DiscountPercent], [ManufacturerID], [ProductTypeID], [Rating]) VALUES (1, N'L Oréal Shampoo', CAST(450.00 AS Decimal(10, 2)), N'Укрепляющий шампунь', CAST(5.00 AS Decimal(5, 2)), 1, 1, CAST(4.50 AS Decimal(3, 2)))
INSERT [dbo].[Products] ([ID], [ProductName], [Price], [Description], [DiscountPercent], [ManufacturerID], [ProductTypeID], [Rating]) VALUES (2, N'Estée Lauder Serum', CAST(8500.00 AS Decimal(10, 2)), N'Восстанавливающая сыворотка', CAST(10.00 AS Decimal(5, 2)), 2, 4, CAST(4.90 AS Decimal(3, 2)))
INSERT [dbo].[Products] ([ID], [ProductName], [Price], [Description], [DiscountPercent], [ManufacturerID], [ProductTypeID], [Rating]) VALUES (3, N'Shiseido Mask', CAST(3200.00 AS Decimal(10, 2)), N'Маска для поврежденных волос', CAST(0.00 AS Decimal(5, 2)), 3, 2, CAST(4.80 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([ID], [TypeName]) VALUES (5, N'Бальзам')
INSERT [dbo].[ProductTypes] ([ID], [TypeName]) VALUES (3, N'Кондиционер')
INSERT [dbo].[ProductTypes] ([ID], [TypeName]) VALUES (2, N'Маска для волос')
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [RoleName]) VALUES (4, N'Admin')
INSERT [dbo].[Roles] ([ID], [RoleName]) VALUES (1, N'Client')
INSERT [dbo].[Roles] ([ID], [RoleName]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceTypes] ON 

INSERT [dbo].[ServiceTypes] ([ID], [ServiceName], [Price], [DurationMinutes]) VALUES (1, N'Маникюр с покрытием', CAST(2500.00 AS Decimal(10, 2)), 90)
INSERT [dbo].[ServiceTypes] ([ID], [ServiceName], [Price], [DurationMinutes]) VALUES (2, N'Педикюр', CAST(3000.00 AS Decimal(10, 2)), 120)
INSERT [dbo].[ServiceTypes] ([ID], [ServiceName], [Price], [DurationMinutes]) VALUES (3, N'Стрижка женская', CAST(2000.00 AS Decimal(10, 2)), 60)
SET IDENTITY_INSERT [dbo].[ServiceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Login], [Password], [FullName], [PhoneNumber], [Role], [CreatedAt]) VALUES (16, N'sobaka224', N'kot12345!', N'Барабанов Пётр Александрович', N'+9 826 123 4567', 1, CAST(N'2026-04-07T14:12:00.000' AS DateTime))
INSERT [dbo].[Users] ([ID], [Login], [Password], [FullName], [PhoneNumber], [Role], [CreatedAt]) VALUES (17, N'BirRussianBoss', N'moneymoneybaby', N'Богатый Макс Максбетович', N'+111 999 521 6711', 4, CAST(N'2025-08-25T19:30:00.000' AS DateTime))
INSERT [dbo].[Users] ([ID], [Login], [Password], [FullName], [PhoneNumber], [Role], [CreatedAt]) VALUES (18, N'Burmalda123', N'mellstroyWIN', N'Андреевский Андрей Андреевич', N'8 922 123 3223', 3, CAST(N'2025-12-12T20:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Carts__DCC800C37C0FC683]    Script Date: 09.04.2026 11:43:28 ******/
ALTER TABLE [dbo].[Carts] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Manufact__3B9CDE2E6E2F78B2]    Script Date: 09.04.2026 11:43:28 ******/
ALTER TABLE [dbo].[Manufacturers] ADD UNIQUE NONCLUSTERED 
(
	[ManufacturerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MasterSe__2E1A78655B15E5CD]    Script Date: 09.04.2026 11:43:28 ******/
ALTER TABLE [dbo].[MasterServices] ADD UNIQUE NONCLUSTERED 
(
	[MasterID] ASC,
	[ServiceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductR__65744A26C47411A8]    Script Date: 09.04.2026 11:43:28 ******/
ALTER TABLE [dbo].[ProductReviews] ADD UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductT__D4E7DFA884451D13]    Script Date: 09.04.2026 11:43:28 ******/
ALTER TABLE [dbo].[ProductTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61600567532B]    Script Date: 09.04.2026 11:43:28 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ServiceT__A42B5F998555E6EB]    Script Date: 09.04.2026 11:43:28 ******/
ALTER TABLE [dbo].[ServiceTypes] ADD UNIQUE NONCLUSTERED 
(
	[ServiceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((0)) FOR [IsCancelled]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDateTime]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [IsIssued]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([MasterID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([ServiceTypeID])
REFERENCES [dbo].[ServiceTypes] ([ID])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[MasterServices]  WITH CHECK ADD FOREIGN KEY([MasterID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[MasterServices]  WITH CHECK ADD FOREIGN KEY([ServiceTypeID])
REFERENCES [dbo].[ServiceTypes] ([ID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturers] ([ID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductTypes] ([ID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD CHECK  (([PaymentMethod]='Online' OR [PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([PaymentMethod]='Online' OR [PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[ServiceTypes]  WITH CHECK ADD CHECK  (([DurationMinutes]>(0)))
GO
ALTER TABLE [dbo].[ServiceTypes]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
USE [master]
GO
