<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Solodov_NagievOrderEntities" connectionString="metadata=res://*/mainModel.csdl|res://*/mainModel.ssdl|res://*/mainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M0PO2JI\SQLEXPRESS;initial catalog=Solodov_NagievOrder;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Solodov_NagievOrderEntities1" connectionString="metadata=res://*/ModelKIP.csdl|res://*/ModelKIP.ssdl|res://*/ModelKIP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bd-kip.fa.ru;initial catalog=Solodov_NagievOrder;user id=sa;password=1qaz!QAZ;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>